<div class="row p-3 m-0 mb-3 w-100 justify-content-between">
    <label for="DNA" class="form-label font-weight-bold">DNA</label>
    {{#if onlyView}}
    <p>{{dna}}</p>
    {{else}}
    <select name="dna" class="form-select d-inline-block p-1 m-0 rounded">
        <option {{#eq dna "PROTOTYPE"}}selected="selected"{{/eq}} value="PROTOTYPE" class="bg-primary">PROTOTYPE</option>
        <option {{#eq dna "CLON"}}selected="selected"{{/eq}} value="CLON" class="bg-secondary">CLON</option>
    </select>
    {{/if}}
</div>