<div class="row m-0 mb-3 w-100 justify-content-between">
    <div class="col mb-3">
        <label for="duration" class="form-label font-weight-bold">DURATION</label>
        {{#if onlyView}}
        <p>{{Game.duration}}</p>
        {{else}}
        <select id="duration" name="duration" class="form-control" aria-label="Select duration">
            <option value="30">30</option>
            <option value="45">45</option>
            <option value="60">60</option>
            <option value="90">90</option>
        </select>
        {{/if}}

    </div>

    <div class="col mb-3">
        <label for="players" class="form-label font-weight-bold">PLAYER</label>
        {{#if onlyView}}
        <p>{{Game.players}}</p>
        {{else}}
        <select id="players" name="players" class="form-control" aria-label="Select players">
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
        </select>
        {{/if}}
    </div>
</div>