<nav class="navbar-expand-lg sticky-top menu">
    <div>
        <div class="navbar-translate row bg-white h-100 pt-2">
            <a class="navbar-brand logo col" href="/">
            </a>
            <div class="d-flex flex-grow justify-content-end">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse bg-white" id="navbarToggleExternalContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/games/list" class="nav-link font-weight-bold">
                            Games
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/puzzles/list" class="nav-link font-weight-bold">
                            Puzzle
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/tasks/list" class="nav-link font-weight-bold">
                            Tasks
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>