<div class="container" style="margin-bottom:200px;">
    {{> header}}
    {{> entityTable entities=puzzles name="Puzzles" emptyText="No puzzles found" icon="fa-solid fa-puzzle-piece"}}
</div>
<script>
    function copyLink(id) {
        // Copy the text inside the text field
        navigator.clipboard.writeText(id);

        // Alert the copied text
        alert("Copied the text: " + id);
    }
</script>
{{> footer year=2021}}