<div class="container">
    {{> header title="Tasks" icon="fa-solid fa-thumbtack"}}
    {{> entityTable entities=tasks name="Tasks" emptyText="No tasks found"}}
</div>
<script>

function copyLink(id){
   // Copy the text inside the text field
  navigator.clipboard.writeText(id);

  // Alert the copied text
  alert("Copied the text: " + id);
}

</script>
{{> footer year=2021}}