<div class="container mt-5">
    <form action="/task-create-sent" method="POST" class="form">
        <div class="input-group mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="puzzleName" name="puzzleName" maxlength="50" required>
        </div>

        <div class="input-group mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea class="form-control" id="description" name="description" maxlength="250"></textarea>
        </div>

        <div class="input-group mb-3">
            <label for="description" class="form-label">Clue:</label>
            <textarea class="form-control" id="description" name="description" maxlength="250"></textarea>
        </div>

        {{!-- <div class="input-group mb-3">
            <label for="startedAt" class="form-label">Started At:</label>
            <input type="text" class="form-control" id="startedAt" name="startedAt">
        </div>

        <div class="input-group mb-3">
            <label for="finishedAt" class="form-label">Finished At:</label>
            <input type="text" class="form-control" id="finishedAt" name="finishedAt">
        </div>

        <div class="input-group mb-3">
            <label for="introVideo" class="form-label">Intro Video URL:</label>
            <input type="text" class="form-control" id="introVideo" name="introVideo">
        </div>

        <div class="input-group mb-3">
            <label for="endVideo" class="form-label">End Video URL:</label>
            <input type="text" class="form-control" id="endVideo" name="endVideo">
        </div> --}}
        <button type="submit" class="btn btn-primary">Create Puzzle</button>
    </form>
</div>